.wishlist-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}

.wishlist-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.wishist-section-empty {
  height: 55vh;
  text-align: center;
  margin: 2rem 0;
}

.wishlist-card {
  position: relative;
}

.cart-item-remove {
  z-index: 1;
}

@media only screen and (max-width: 450px) {
  .wishlist-section {
    gap: 1rem;
  }
}
